.bottom-buttons{
  margin-top: 60%;
  width: 25%;
  height: 10%;
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;

}
button{
  width: 65px;
  border-radius: 20%;
}
.next-button{
  background-color: #0BF282;
}